---
import { askama } from "../askama";

export interface Props {
  entity: string;
}
---

<div class="flex grow justify-center pt-10">
  <div class="max-w-md flex flex-col items-center">
    {
      askama.if_("let Some(image) = entity.image_base64", () => (
        <div class="w-lg mb-5">
          <a href="https://en.wikipedia.org/wiki/{{ entity.title|urlencode }}">
            <img
              class="h-full w-full rounded-full"
              src={askama.fake(
                "data:image/png;base64, {{ image }}",
                "{{image.avatar}}"
              )}
            />
          </a>
        </div>
      ))
    }
    <div class="text-xl mb-2">
      <a href="https://en.wikipedia.org/wiki/{{ entity.title }}"
        >{askama`entity.title $ {{name.findName}}`}
      </a>
    </div>
    <div class="text-sm">
      {askama`entity.small_abstract $ {{lorem.lines}}`}
      <span class="italic">
        source: <a
          class="text-blue-600"
          href="https://en.wikipedia.org/wiki/{{ entity.title|urlencode }}"
          >wikipedia</a
        >
      </span>
    </div>
    {
      askama.if_("!entity.info.is_empty()", () => (
        <div class="mt-5 flex w-full flex-col px-4 text-sm">
          <div class="grid border-separate border-spacing-x-4 border-spacing-y-1.5 grid-cols-[auto_1fr] gap-x-4">
            {askama.for_("(key, value) in entity.info", () => (
              <>
                <div class="text-gray-500">{askama`key $ {{word.adjective}}`}</div>
                <div>{askama`value $ {{random.words}}`}</div>
              </>
            ))}
          </div>
        </div>
      ))
    }
    {
      askama.if_("!entity.related_entities.is_empty()", () => (
        <div class="mt-5 flex w-full flex-col text-gray-500">
          <div class="font-light">Related Searches</div>
          <div class="flex">
            {askama.for_("entity in entity.related_entities", () => (
              <div class="flex flex-col items-center p-4">
                {askama.if_("let Some(image) = entity.image_base64", () => (
                  <div class="mb-3 h-20 w-20">
                    <a href="/search?q={{ entity.title|urlencode }}">
                      <img
                        class="h-full w-full rounded-full object-cover"
                        src={askama.fake(
                          "data:image/png;base64, {{ image }}",
                          "{{image.avatar}}"
                        )}
                      />
                    </a>
                  </div>
                ))}

                <div class="text-center">
                  <a href="/search?q={{ entity.title|urlencode }}">
                    {askama`entity.title $ {{name.findName}}`}
                  </a>
                </div>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</div>
