---
import Hero from "./Hero.astro";
import { Icon } from "astro-icon";

const links = [
  { url: "/settings", title: "Settings" },
  { url: "/about", title: "About" },
];
const icons = [
  {
    url: "https://discord.gg/BmzKHffWJM",
    title: "Discord",
    icon: "simple-icons:discord",
  },
  {
    url: "https://github.com/StractOrg/stract",
    title: "GitHub",
    icon: "simple-icons:github",
  },
];
---

<navbar class="hidden items-center space-x-2 sm:flex md:space-x-4 lg:space-x-8">
  {
    links.map((l) => (
      <a class="link rounded-full px-2 py-1" href={l.url}>
        {l.title}
      </a>
    ))
  }
  {
    icons.map((i) => (
      <a class="icon" href={i.url}>
        <Icon class="w-6" title={i.title} name={i.icon} />
      </a>
    ))
  }
</navbar>

<nav class="group relative flex items-center text-lg sm:hidden">
  <button
    class="mx-1 aspect-square rounded-full bg-transparent px-3 text-gray-400 transition group-hover:text-brand/30"
  >
    <Hero class="w-6" icon="menu" />
  </button>
  <div
    class="pointer-events-none absolute bottom-0 right-0 z-50 translate-y-full flex-col pt-1 opacity-0 transition group-hover:pointer-events-auto group-hover:flex group-hover:opacity-100"
  >
    <div class="rounded-xl border bg-white p-2 shadow-xl">
      <div class="flex flex-col space-y-1 pb-2">
        {
          links.map((l) => (
            <a class="link rounded py-1 pl-2 pr-10" href={l.url}>
              {l.title}
            </a>
          ))
        }
      </div>
      <div class="flex justify-around border-t pt-2">
        {
          icons.map((i) => (
            <a class="icon" href={i.url}>
              <Icon class="w-7" title={i.title} name={i.icon} />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</nav>

<style>
  .link {
    @apply transition hover:bg-brand/5 hover:text-brand hover:no-underline;
  }
  .icon {
    @apply flex justify-center rounded-full p-2 text-gray-500 transition hover:bg-brand/10 hover:text-brand;
  }
</style>
