---
import Hero from "./Hero.astro";
import { Icon } from "astro-icon";

const links = [
  { url: "/settings", title: "Settings" },
  { url: "/about", title: "About" },
];
const icons = [
  {
    url: "https://discord.gg/BmzKHffWJM",
    title: "Discord",
    icon: "simple-icons:discord",
  },
  {
    url: "https://github.com/cuely/cuely",
    title: "GitHub",
    icon: "simple-icons:github",
  },
];
---

<navbar class="hidden sm:flex items-center space-x-2 md:space-x-4 lg:space-x-8">
  {
    links.map((l) => (
      <a class="link rounded-full px-2 py-1" href={l.url}>
        {l.title}
      </a>
    ))
  }
  {
    icons.map((i) => (
      <a class="icon" href={i.url}>
        <Icon class="w-6" title={i.title} name={i.icon} />
      </a>
    ))
  }
</navbar>

<nav class="sm:hidden items-center flex group relative text-lg">
  <button
    class="px-3 mx-1 text-gray-400 bg-transparent rounded-full transition aspect-square group-hover:text-brand/30"
  >
    <Hero class="w-6" icon="menu" />
  </button>
  <div
    class="absolute z-50 opacity-0 bottom-0 pt-1 right-0 translate-y-full pointer-events-none group-hover:pointer-events-auto group-hover:flex group-hover:opacity-100 flex-col transition"
  >
    <div class="p-2 bg-white shadow-xl rounded-xl border">
      <div class="pb-2 flex flex-col space-y-1">
        {
          links.map((l) => (
            <a class="link rounded py-1 pl-2 pr-10" href={l.url}>
              {l.title}
            </a>
          ))
        }
      </div>
      <div class="flex border-t pt-2 justify-around">
        {
          icons.map((i) => (
            <a class="icon" href={i.url}>
              <Icon class="w-7" title={i.title} name={i.icon} />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</nav>

<style>
  .link {
    @apply transition hover:bg-brand/5 hover:text-brand hover:no-underline;
  }
  .icon {
    @apply flex justify-center rounded-full p-2 text-gray-500 transition hover:bg-brand/10 hover:text-brand;
  }
</style>
