---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import Snippet from "../components/Snippet.astro";
import Hero from "../components/Hero.astro";
import OpticSelector from "../components/OpticSelector.astro";
import Modal from "../components/SearchModal.astro";
import Header from "../components/Header.astro";
import Discussions from "../components/Discussions.astro";
import Widget from "../components/Widget.astro";
import DirectAnswer from "../components/DirectAnswer.astro";
import { askama } from "../askama";
import type { AstroCookies } from "astro/dist/core/cookies";
---

<Layout title="{{ query }} - Stract">
  <main class="flex w-full flex-col">
    <Header searchbar={{ query: askama`query` }} />
    <div class="w-full h-[1px] bg-gradient-to-r from-cyan-400 via-brand to-cyan-400"></div>

    <div
      class="search-content flex w-screen m-0 grid gap-y-6 pt-4 px-5 md:grid-cols-[minmax(50ch,48rem)_1fr] md:grid-rows-[auto_1fr] md:gap-x-12 md:pl-20 lg:px-36"
    >
      <!-- Stats and settings -->
      <div class="mx-auto flex w-full justify-between">
        <div class="flex space-x-2 h-full flex-col justify-center text-sm text-gray-600">
          <p class="h-fit">
            Found {askama`num_matches $ 24`} results in {
              askama`search_duration_sec $ 0.42s`
            } seconds
          </p>
        </div>
        <div class="flex space-x-2">
          <OpticSelector
            default_optics="default_optics"
            search_on_change={true}
          />
          <div class="select-region flex h-full flex-col justify-center">
            <select
              form="searchbar-form"
              name="gl"
              onchange="document.getElementById('searchbar-form').submit()"
              class="styled-selector"
            >
              {
                askama.for_("region_selection in all_regions", () =>
                  askama.match("region_selection", {
                    "RegionSelection::Selected(region)": (
                      <option value="{{ region.gl() }}" selected>
                        {askama`region.name() $ {{address.country}}`}
                      </option>
                    ),
                    "RegionSelection::Unselected(region)": (
                      <option value="{{ region.gl() }}">
                        {askama`region.name() $ {{address.country}}`}
                      </option>
                    ),
                  })
                )
              }
            </select>
          </div>
        </div>
      </div>

      <!-- Search results -->
      <div class="col-start-1 flex min-w-0 max-w-2xl flex-col space-y-10">
        {
          askama.if_("let Some(correction) = spell_correction", () => (
            <div>
              Did you mean:{" "}
              <a
                class="title-link font-medium"
                href="/search?q={{ correction.raw|urlencode }}"
              >
                {askama`correction.highlighted|safe $ {{lorem.sentence}}`}
              </a>
            </div>
          ))
        }

        <Widget widget="widget" />
        <DirectAnswer direct_answer="direct_answer" />

        {
          askama.for_("item in search_result", () => (
            <>
              {askama.if_("loop.index == 3", () => (
                <Discussions discussions="discussions" />
              ))}
              <div class="flex w-full">
                <div class="flex min-w-0 grow flex-col space-y-1">
                  <div class="flex min-w-0">
                    <div class="flex min-w-0 grow flex-col space-y-1">
                      <div class="flex items-center text-sm">
                        <a
                          class="url truncate text-gray-800 hover:no-underline"
                          href="{{ item.url }}"
                          onclick="improvement({{ loop.index0 }})"
                        >
                          {askama`item.pretty_url $ {{internet.url}}`}
                        </a>
                      </div>
                      <a
                        class="title-link sr-title-link truncate text-xl font-medium"
                        title="{{ item.title }}"
                        href="{{ item.url }}"
                        onclick="improvement({{ loop.index0 }})"
                      >
                        {askama`item.title $ {{lorem.sentence}}`}
                      </a>
                    </div>
                    <div
                      class="adjust-btn hidden min-w-fit items-center justify-center md:flex"
                      data-site="{{ item.site }}"
                      data-url="{{ item.url }}"
                      data-idx="{{ loop.index0 }}"
                      data-has-clean-body="{{ !item.body.is_empty() }}"
                    >
                      <Hero class="w-6" icon="adjustments" />
                    </div>
                  </div>
                  <div class="text-sm text-snippet">
                    <Snippet snippet={askama`item.snippet`} index={askama`loop.index0`} />
                  </div>
                </div>
              </div>
            </>
          ))
        }

        <div class="flex w-full items-center justify-center">
          {
            askama.if_(
              "let Some(url) = prev_page_url",
              <a href="{{ url }}">
                <Hero class="change-page-active" icon="chevron-left" />
              </a>,
              <Hero class="change-page-inactive" icon="chevron-left" />
            )
          }
          <div class="mx-2">
            Page {askama`current_page $ 5`}
          </div>
          {
            askama.if_(
              "has_more_results", 
              <a href="{{ next_page_url }}">
                <Hero class="change-page-active" icon="chevron-right" />
              </a>,
              <Hero class="change-page-inactive" icon="chevron-right" />
            )
          }
        </div>
      </div>

      <!-- Sidebar -->
      {
        askama.if_(
          "let Some(sidebar) = sidebar",
          <div class="row-start-2 justify-center md:pt-10 md:col-start-2 md:row-span-2 md:row-start-1 max-w-[90vw] mx-auto">
            <Sidebar sidebar="sidebar" />
          </div>
        )
      }
    </div>

    <!-- Modal -->
    <Modal />

    <!-- Error alerts (failed optic parsing etc.) -->
    <div class="sticky w-fit left-full right-0 bottom-0">
      {
        askama.for_("alert in alerts", () => (
          <div class="bg-red-700 text-white py-2 pl-2 pr-4 mr-2 mb-2 rounded-xl">
            <span class="cursor-pointer mr-2" onclick="this.parentElement.style.display='none';">&times;</span>
            {askama`alert $ {{lorem.sentence}}`}
          </div>
        ))
      }
    </div>
  </main>

  <Footer />
</Layout>

<style>
  .change-page-inactive {
    @apply w-6 text-gray-500;
  }

  .change-page-active {
    @apply w-6 text-brand/80 hover:text-brand;
  }

  .title-link {
    @apply text-blue-800 visited:text-purple-800;
    max-width: calc(100% - 30px);
  }

  .url {
    max-width: calc(100% - 100px);
  }

  .adjust-btn {
    @apply w-5 text-gray-500/25 hover:cursor-pointer hover:text-gray-500;
  }

  .adjust-btn * {
    pointer-events: none;
  }

  .search-content {
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .text-snippet {
    font-weight: 400;
  }
  .text-snippet > b {
    font-weight: 700;
  }
</style>

<noscript>
  <style>
    .adjust-btn {
      display: none;
    }
  </style>
</noscript>

{
  askama.if_("has_code", () => (
    <>
      <link rel="stylesheet" href="/css/highlightjs-default.min.css" />
      <script is:inline src="/js/highlight.min.js"></script>
      <script is:inline>
        hljs.highlightAll();
      </script>
    </>
  ))
}

<script is:inline>
  var rankingAdjustButtons = document.querySelectorAll(".adjust-btn");
  var titleLinks = document.querySelectorAll(".sr-title-link");
  var modal = document.getElementById("modal");

  var searchParams = new URLSearchParams(window.location.search);
  var query = searchParams.get("q");

  const allowStats = window.localStorage.getItem("allowStats") === "true";

  var qid = null;

  var improvementSent = new Set();

  var urls = [];
  for (const elem of titleLinks) {
    urls.push(elem.href);
  }

  if (allowStats) {
    fetch("/improvement/store", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        "query": query,
        "urls": urls
      })
    }).then((response) => response.text()).then((data) => {
      qid = data;
    });
  }

  document.addEventListener("click", (elem) => {
    modal.classList.remove("modal-open");
    modal.classList.add("modal-closed");
  });

  var rankingModalHeight = modal.clientHeight;

  rankingAdjustButtons.forEach((btn) => {
    btn.addEventListener("click", (event) => {
      event.stopPropagation();

      const elem = event.target;
      const hasCleanBody = (elem.dataset.hasCleanBody === "true");

      updateModal(elem.dataset.idx, elem.dataset.site, elem.dataset.url, hasCleanBody);

      const rect = elem.getBoundingClientRect();
      modal.style.left = rect.left + rect.width + 5 + "px";
      modal.style.top =
        rect.top +
        document.documentElement.scrollTop -
        rankingModalHeight / 2 +
        "px";

      setTimeout(() => {
        modal.classList.remove("modal-closed");
        modal.classList.add("modal-open");
      }, 0);
    });
  });

  function improvement(idx) {
    if (allowStats && qid && !improvementSent.has(idx)) {
      window.navigator.sendBeacon("/improvement/click?qid=" + qid + "&click=" + idx);
      improvementSent.add(idx);
    }
  }
</script>
